@use '../auth/background.scss';

$color-accent: #A2FF01; 
$color-card: #FFFFFF;
$color-input-bg: #434343;
$color-text: #030303; 
$color-dark: #141414;
$color-white: #FFFFFF;

.auth-wrapper {
  @extend .background-login;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
}

.login-card {
  background-color: $color-card; 
  padding: 60px 40px;
  width: 100%;
  max-width: 420px; 
  border-radius: 8px;
  box-shadow: 0 0 50px #A2FF01;
  color: $color-text;
}

.main-title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
  color: $color-text;
  text-align: center;
}

mat-form-field.full-width {
    width: 100%;
    height: 57px;
    margin-bottom: 15px; 
  
  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
    background-color: $color-input-bg !important;
    border-radius: 4px;
    
    border: none !important; 

    .mat-form-field-flex {
      padding: 10px 15px; 
      background-color: $color-input-bg !important;
    }
  }
  
  .mat-mdc-form-field-input-control {
    color: $color-text !important; 
    caret-color: $color-text;
    padding-left: 15px !important; 
    background-color: transparent !important;
  }

  .mat-mdc-floating-label {
    color: $color-white !important;
  }
  
  .mat-form-field-underline {
    display: none !important; 
    height: 0 !important;
  }
  
  &.mat-focused {
    .mat-form-field-outline-thick {
      color: $color-accent !important; 
    }
    
  }
}

mat-card-actions {
    display: flex; /* Adiciona Flexbox ao pai do botão */
    justify-content: center; /* Centraliza o botão */
    
    padding-left: 0 !important;
    padding-right: 0 !important;
    
    width: 100%; /* Garante que o contêiner use a largura máxima */
    margin-top: 30px;
}

.login-actions {
  margin-top: 30px;
  
  
  .login-button {
    width: 100%;
    max-width: 250px; 
    height: 50px;
    font-size: 1.1em;
    
        .mat-mdc-button-base { /* Seletor comum para botões no Material 15+ */
            border-radius: 10px !important; 
        }
        
        &.mat-raised-button {
            border-radius: 10px !important; 
        }
  }
}

.help-section {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-top: 15px;
  font-size: 0.9em;
  color: #999;
  
  .register-link {
    color: $color-text; 
    text-decoration: none;
    
    &:hover {
      color: $color-accent;
      text-decoration: underline;
    }
  }
}

.register-footer-info {
    text-align: center;
    padding-top: 15px;
    font-size: 0.85em; /* Fonte menor para avisos legais */
    color: #999; /* Cor secundária */
    
    p {
        margin: 5px 0;
    }

    .register-link, .terms-link {
        color: $color-accent; /* Verde Neon para o link */
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

      .terms-link a {
        cursor: pointer;
        color: #A2FF01; // Sua cor de destaque
        text-decoration: underline;
}
    }
    
    .terms-text {
        color: #000000; /* Texto legal mais discreto */
        margin-top: 10px;
        font-weight:bolder;
    }
}

