$color-accent: #33FF7A;
$color-dark: #121212;

.game-form-wrapper {
  // Centraliza o card do formulário na tela
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 0 20px;

  .mat-card {
    width: 100%;
    max-width: 800px;
    padding: 30px;
    
    mat-card-title {
      color: $color-accent;
      margin-bottom: 20px;
      text-align: center;
    }

    // Estilização do Mat-Stepper (Progresso)
    mat-horizontal-stepper {
      margin: 20px 0 40px 0;
      padding: 0;

      // Cor do círculo do passo ativo
      .mat-step-header[aria-selected="true"] {
        .mat-step-icon {
          background-color: $color-accent;
          color: $color-dark; // Texto Preto no círculo Verde
        }
        .mat-step-label {
          color: $color-accent; // Cor do Label ativo em Verde
          font-weight: 500;
        }
      }
      
      // Linha separadora do stepper em verde
      .mat-stepper-horizontal-line {
        border-top-color: $color-accent;
      }
    }
  }
}