<div class="list-container">
  <mat-tab-group animationDuration="0ms">
    <mat-tab *ngFor="let status of statuses" [label]="status | uppercase">
      <div *ngIf="games$ | async as allGames" class="game-cards-container">
        <mat-card *ngFor="let game of allGames | filterByStatus: status" [routerLink]="['/games', game.id]">
          <mat-card-header>
            <mat-card-title>{{ game.title }}</mat-card-title>
            <mat-card-subtitle>{{ game.platform }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Progresso: {{ game.progress }}%</p>
            <mat-progress-bar mode="determinate" [value]="game.progress"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
        <p *ngIf="(allGames | filterByStatus: status).length === 0" class="no-games-msg">Nenhum jogo nesta categoria.</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>