<!-- <mat-sidenav mode="side" [opened]="true" class="sidebar-panel">
    
    <a mat-button routerLink="/app/dashboard" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-button routerLink="/app/meus-jogos" routerLinkActive="active-link">
        <mat-icon>list_alt</mat-icon> Meus Jogos
    </a>
    <a mat-button routerLink="/app/adicionar-jogo" routerLinkActive="active-link">
        <mat-icon>add_circle_outline</mat-icon> Adicionar Jogo
    </a>
    
    </mat-sidenav> -->